@using StudentManagementSystem.Models
@model IEnumerable<Enrollment>

@{
    ViewBag.Title = "Enrollment";
}

<div class="jumbotron">
    <h1>Student Enrollment Details</h1>
    <div>
        @using (Html.BeginForm("Enrollment", "Home", FormMethod.Post))
        {
            <h6> @Html.Label("Enter Student Id to search")</h6>
            @Html.TextBox("txtStudentId")
            <h6> @Html.Label("Enter School Year to search")</h6>
            @Html.TextBox("txtSchoolYear")
            <input type="submit" id="btnSubmit" name="Search" value="Search" />
        }
        @ViewBag.SearchText
    </div>
    <div style="margin-top:10px;">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Student Id</th>
                    <th>School Year</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            @foreach (Enrollment enrollment in Model)
            {
                <tr>
                    <td>
                        @enrollment.id
                    </td>
                    <td>
                        @enrollment.StudentId
                    </td>
                    <td>
                        @enrollment.SchoolYear
                    </td>
                    <td>
                        @enrollment.StartDate.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @enrollment.EndDate.ToString("MM/dd/yyyy")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
